
body {
  font-family: Arial;
  background: #f5f5f5;
  margin: 0;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

h1 {
  text-align: center;
}

#chatBox {
  flex: 1;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
}

.user {
  background: #d1e7ff;
  text-align: right;
}

.bot {
  background: #e8ffe8;
  text-align: left;
}

.inputBox {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}